@model PaginacionRespuesta<Categoria>
@{
	ViewData["Title"] = "Categorias";
}

<h1>@ViewData["Title"]</h1>
<h5>
	La categoría nos permite indicar en qué gastamos nuestro dinero, tambien, de donde provienen nuestro ingreso.
</h5>
<a asp-action="Crear" class="btn btn-primary mb-3">Crear Nuevo</a>

<div>
	<label>Cantidad de registros a mostrar:</label>
	<div class="mb-3 col-auto">
		<select asp-for="@Model.RecordsPorPagina" id="cantidadRecordsPorPagina" class="form-select">
			<option>3</option>
			<option>5</option>
			<option>10</option>
		</select>
	</div>
</div>

<partial name="_Paginacion"/>
<table class="table">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Tipo de Operación</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var categoria in Model.Elementos)
		{
			<tr>
				<td>@categoria.Nombre</td>
				<td>@categoria.TipoOperacionId.ToString()</td>
				<td>
					<a asp-action="Editar" asp-route-id="@categoria.Id" class="btn btn-primary">Editar</a>
					<a asp-action="Borrar" asp-route-id="@categoria.Id" class="btn btn-danger">Borrar</a>
				</td>
			</tr>
		}
	</tbody>
</table>

@section Scripts{
	<script>
		$("#cantidadRecordsPorPagina").change(function(){
			const recordsPorPagina = $(this).val();
			location.href = `/Categorias/?pagina=1&recordsPorPagina=${recordsPorPagina}`;
		});
	</script>
}